#map-options {
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
}

#search{
    width: 100%;
    border: none;
    padding: 0px 20px;
}

.search-tab{
    line-height: 35px;
}

.buttons{
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    cursor: pointer;
    background: #66adea;
    text-transform: uppercase;
    font-size: 12px;
    color: #fff;
}

#history{
    height: 100%;
    width: 120px;
    position: absolute;
    background: #fff;
    padding-top: 20px;
    right: 0px;
    overflow-y: scroll;
    overflow-x: scroll;
    padding-bottom: 40px;
}

#heading-tweets{
    position: absolute;
    top: 15px;
    left: 0px;
    z-index: 999;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    color: #449ce8;
    font-size: 25px;
    text-shadow: 1px 1px #fff;
}

.list-item{
    font-weight: 400;
    padding: 8px 20px;
    border-bottom: 1px solid #f1efe9;
    cursor: pointer;
}

.list-item-header{
    font-weight: 500;
    padding: 10px 20px;
}

#no-tweets{
    color: red;
    background: rgba(255, 255, 255, 0.59);
}

#map-view{
    height:100vh; display: flex;
}